
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<form action="/action_page.php">


  <div class="container">
    
      <h2>Flight Dtails</h2>

    <label for="from"><b>From</b></label>
    <input type="text" placeholder="Enter Location" name="from" required>

    <label for="to"><b>To</b></label>
    <input type="text" placeholder="Enter Destination" name="to" required>
     
    <label for="date"><b>Date</b></label>
    <input type="date" placeholder="Enter Date" name="date" required>

    <label for="nop"><b>Number of passengers</b></label>
    <input type="number" placeholder="Enter Number of passengers"  min="1" max="10" name="nop" required>

    <button type="submit">Submit</button>
  </div>
</form>

</body>
</html>

