<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


	<div class="row">
		<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<div class="our-services-wrapper mb-60">
							<div class="services-inner">
								<div class="our-services-img">
								<img src="./assets/logo.png" width="68px" alt="">
								</div>
								<div class="our-services-text">
									<h4>Frist Name</h4>
									<p>Asmaa</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<div class="our-services-wrapper mb-60">
							<div class="services-inner">
								<div class="our-services-img">
								<img src="./assets/logo.png" width="68px" alt="">
								</div>
								<div class="our-services-text">
									<h4>Last Name</h4>
									<p>Elrosasy</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<div class="our-services-wrapper mb-60">
							<div class="services-inner">
								<div class="our-services-img">
								<img src="./assets/logo.png" width="68px" alt="">
								</div>
								<div class="our-services-text">
									<h4>Birthdate</h4>
									<p>18/2/1994</p>
								</div>
							</div>
						</div>
	</div>
</div>
